h1 { text-align: center;
    font-style:italic;
    color: white !important;
    font-size: 80px !important;


}

.header {
    background: black;
    
}


.App { background-color: bisque}

.footer{ background-color:black;
    font-weight: bold;
    text-align: center;
    color: white !important;

}

.datos{
    text-decoration: none !important;
    text-align: center !important;
}

li{
    text-decoration: none;
    display: flex;
    text-align: center !important ;

}

.nombre{
    font-weight: bold;
    text-align: center;
}
.contenedor{
    text-align: center;

}

ul{
    list-style: none;
}